body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
    margin: 0;
}


.idbody {
    background-color: #17a2b8;
    text-align: center;
    padding: 20px; 
}

h1 {
    background-color: rgb(180, 223, 28);
    text-align: center;
    padding: 24px; 
    /* margin-bottom: 30px;  */
}

#div-stockemployee {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.div-inventory,
.div-receipt,
.div-product {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    left: 50%; 
    top: 180px; 
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

/* 
.table-inventory,
.table-receipt,
.table-product {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; 
} */

.table-inventory th,
.table-inventory td,
.table-receipt th,
.table-receipt td,
.table-receiptdetail th,
.table-receiptdetail td,
.table-product td,
.table-product th {
    border: 1px solid black;
    padding: 10px;
}



#table-inventory th,
#table-receiptdetail th,
#table-receipt th,
#table-product th {
    background-color: #0cb2db;
    color: aliceblue;
}


#table-inventory td,
#table-receiptdetail td,
#table-receiptdetail td,
#table-receipt td,
#table-product td {
    background-color: #fafafa;
}

.addProduct input,
.addProduct select,
.addProduct button {
    /* flex: 1;
    margin: 5px; */
    border: 1px solid #525151;

}


.addProduct {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
}